.wrapper--big {
  margin-top: 6rem;
}

.Spots {
  display: flex;

  &__grid {
    flex: 1;
  }

  &__map {
    display: none;

    @include media(map-get($grid-breakpoints, lg)) {
      display: block;
      flex: 0 0 420px;
    }
  }
}

.Map {
  display: none;
  position: relative;

  &--show {
    display: block;
  }

  &__inner {
    position: sticky;
    top: calc(#{$navbar-height} + 15px);
    left: 0;
    padding-left: 15px;
  }
}
