.form-group.hidden.favorite_spot_id,
.form-group.hidden.favorite_favorite_id {
  margin: 0;
}

.Spot-directions {
  display: none;

  @include media(map-get($grid-breakpoints, lg)) {
    display: block;
    position: sticky;
    top: 15px;
  }
}

.Spot__category--link {
  color: $primary;
  border-bottom: 1px solid rgba($primary, 0.3);
  transition: border-color 150ms ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    border-bottom: 1px solid rgba($primary, 0.6);
  }
}
