= form_for [spot, spots_photo], html: { class: "js-drag-drop drag-drop", enctype: "multipart/form-data" }, remote: true do |f|
  = f.file_field :photo
  = f.submit 'Upload photos', class: "btn btn-primary"
