body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: $primary;
  color: $white;
}

// Sticky footer
// Adjusts the position of the main content
.Site {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__content {
    margin-top: $navbar-height;
    flex: 1;
  }
}

.wrapper {
  margin-top: 3rem;
}
