.Header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

.navbar {
  min-height: $navbar-height;
  padding: 0.5rem 1.5rem;
}

.nav-search-input {
  padding: 0.5rem 1rem;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  &:focus {
    border-color: $border-color;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
}

.btn-search {
  position: absolute !important;
  top: 0;
  right: 0;
  background-color: $white;
  border: 1px solid $border-color;
  border-left: 0;
}

.Navbar {
  border-bottom: 1px solid $border-color;
}

.nav-dropdown {
  padding: 0!important;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 18px;
}

// .scrolled {
//   box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
// }

.navbar__logo {
  color: $primary!important;
  margin-right: 32px;

  &--white {
    color: $white!important;
  }
}

.navbar__logo:hover,
.navbar__logo:focus {
  color: $primary!important;
}

.navbar__toggle {
  border-color: transparent!important;
}

.navbar__form {
  display: none;

  @include media(map-get($grid-breakpoints, md)) {
    display: block;
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .btn-add {
    display: inline-block;
    width: auto;
  }
}
